// _variables.scss
$base-color: #0B3954;
$accent-color: #FFB128;
$light-gray: #F5F5F5;
$dark-gray: #333;
$border-color: #ddd;
$hover-color: #0B3954;

// font sizes
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 17px;
$font-size-xlarge: 30px;
$font-weight-normal: 500;
$font-weight-bold: 600;

// paddings
$padding-large: 50px;
$padding-medium: 40px;
$padding-small: 10px;
$padding-xsmall: 5px;

// margins
$margin-large: 30px;
$margin-medium: 20px;
$margin-small: 8px;

// responsive
$min-width-dropdown: 300px;
$min-width-dropdown-large: 650px;
$width-recommendation: 350px;
$width-control-panel: 1220px;

// borders
$border-radius: 6px;

// buttons
$button-border: none;
$button-font-size: 15px;
$button-background-color: #F5F5F5;
$button-text-color: #0B3954;

// input
$input-padding: 10px 350px 10px 40px;