@import '../../abstracts/variables';
@import './base';
@import './category-item';
@import './dropdown';
@import './recommendation';

.categories {
  li {
    @extend .category-item;

    .dropdown {
      @extend .dropdown;
    }

    &:hover .dropdown {
      display: flex;
      flex-direction: column;

      @media (min-width: 768px) {
        flex-direction: row;
      }
    }
  }
} 