@import '../../abstracts/variables';
@import './base';
@import './category-item';
@import './dropdown';
@import './recommendation';

.categories {
  li {
    @extend .category-item;

    &:hover > a span {
      color: #ffb128;
    }

    .dropdown {
      @extend .dropdown;
    }

    &:hover .dropdown {
      display: flex;
      flex-direction: column;
    }

    a:hover .fa-chevron-right {
      color: #ffb128;
    }
  }
}
