// _navigation-menu.scss
@import '../abstracts/variables';
@import './navigation';
@import '../components/navigation/category-item';
@import '../components/navigation/dropdown';
@import '../components/navigation/recommendation';

.navigation-menu {
  margin: auto;

}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-bottom: 20px;

  li {
    @extend .category-item;
    position: relative;
    // margin-bottom: 5px;

    .dropdown {
      @extend .dropdown;
    }

    &:hover .dropdown {
      display: flex;
      flex-direction: column;

      @media (min-width: 768px) {
        flex-direction: row;
      }
    }
  }
}