.furniture-showcases {
    margin-bottom: 128px;

    .environments {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 50px;
        padding: 20px;
    }
    li {
        border-radius: 25px;
        width: 100%;
        padding-top: 460px;
        padding-left: 50px;
        padding-bottom: 60px;
        color: white;
        background-size: cover;
    }

    p {
        margin-bottom: 30px;
    }

    h2 {
        text-transform: uppercase;
        font-size: 48px;
        line-height: 55px;
        font-weight: 700;
        letter-spacing: 0px;
    }

    .bedroom {
        background-image: url("../../assets/images/bedroom-background.png");
    }

    .office {
        background-image: url("../../assets/images/office-background.png");
    }

    .kitchen {
        background-image: url("../../assets/images/kitchen-background.png");
    }
}