// _header.scss

@import '../abstracts/variables'; 

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;  
}

.control-panel {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    button {
        border: none;
    }

    input {
        width: 450px;
        height: 30px;
    }

    .page-name {
        font-size: 30px;
        font-weight: bold;
        text-transform: capitalize;
    }
}

