@import '../abstracts/variables';

.control-panel {
  margin: auto;
  display: flex;
  gap: $padding-large;
  width: $width-control-panel;
  align-items: center;
  justify-content: center;
  margin-top: $margin-large;

  button {
    border: $button-border;
  }

  input {
    padding: $input-padding;
    font-size: $button-font-size;
    background-color: $light-gray;
    color: $base-color;
    border: none;
    border-radius: $border-radius;
  }

  .page-name {
    font-size: $font-size-xlarge;
    font-weight: $font-weight-bold;
    text-transform: capitalize;
  }

  .user-details {
    display: flex;
    gap: $margin-medium;
    margin-left: $margin-large;

    img {
      width: 25px;
    }

    .cash-details {
      display: flex;
      gap: $margin-medium;

      .amount {
        font-weight: $font-weight-bold;
        color: $base-color;
        font-size: $font-size-medium;
      }
    }

    .account {
      display: flex;
      gap: $margin-medium;
    }
  }
}