@import '../abstracts/variables';


header {
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.05);
  padding-top: 12px;
}

.control-panel {
  margin: auto;
  display: flex;
  gap: $padding-large;
  width: $width-control-panel;
  align-items: center;
  justify-content: center;
  margin-top: $margin-large;
  margin-bottom: 15px;


  button {
    border: $button-border;
  }

  input {
    padding: $input-padding;
    font-size: $button-font-size;
    background-color: $light-gray;
    color: $base-color;
    border: none;
    border-radius: $border-radius;
  }

  .page-name {
    font-size: $font-size-xlarge;
    font-weight: $font-weight-bold;
    text-transform: capitalize;
  }

  .user-details {
    display: flex;
    gap: 5px;
    margin-left: 60px;

    img {
      width: 20px;
    }

    .cash-details {
      display: flex;
      position: relative;
      gap: $margin-medium;

      img {
        margin-right: 10px;
      }

      .purchase-quantity {
        position: absolute;
        right: 76px;
        bottom: 15px;
        font-size: 11px;
        line-height: 1;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 18px;
        padding: 3px;
      }

      .amount {
        font-weight: $font-weight-bold;
        color: $base-color;
        font-size: $font-size-medium;
      }
    }

    .account {
      display: flex;
      gap: $margin-medium;
      position: relative;
      
      .likes-quantity {
        position: absolute;
        right: 36px;
        bottom: 15px;
        font-size: 11px;
        line-height: 1;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 18px;
        padding: 3px;
      }
    }
  }
}