.partners-logos-wrapper {
    width: 1200px;
    margin: 50px auto;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    img {
        width: 100px;
    }
}