@import 'layout/header';
@import 'components/navbar';
@import 'layout/hero-setion';
@import 'layout/product-overview';
@import 'layout/furniture-showcases';
@import 'layout/featured-promo';
@import 'layout/company-overview';


* {
    font-family: "Sora";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

